/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-April-2025  3:12:44 PM
    Author     : Vedika
*/
/* banner section */

/* Service Detail Template css for Consulatation and Request */
.promotion-banner {
    background-image: url(../../images/consult-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 87px 0 93px;
    text-align: center;
    width: 100%;
    border-radius: 16px;
    
}
.promotion-banner.transform-section-service{
  margin-top: 120px;

}
.careers-cp .promotion-banner.transform-section-service {
  margin-top: 120px;
  margin-bottom: 120px;
}
.headline-tranform {
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
  color: white;
  margin: 10px;
}
.transform-subtitle{
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  color: white;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.consult-transform {
    margin: 40px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media (max-width: 1600px) {
  .headline-tranform {
    font-size: 40px;
    line-height: 55px;
  } 
  .careers-cp .promotion-banner.transform-section-service {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1440px) {
  .promotion-banner {
    padding: 60px 0 65px;
  }
  .headline-tranform {
    font-size: 38px;
    line-height: 50px;
  }
  .consult-transform {
    flex-wrap: wrap;
    margin-top: 25px;
  }
  .promotion-banner.transform-section-service{
    margin-top: 50px;
  
  }
  .careers-cp .promotion-banner.transform-section-service {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
    .headline-tranform {
      font-size: 40px;
      line-height: 38px;
    
    }
    .headline-tranform br {
      display: block; 
    }
    .transform-subtitle{
      font-size: 14px;
      line-height: 25px;
    }
}

  @media screen and (max-width: 1024px) {
    .headline-tranform {
      font-size: 30px;
      line-height: 35px;
    }
  } 
  
@media screen and (max-width: 990px) {
    .headline-tranform {
      font-size: 35px;
      line-height: 32px;
      display: block;
    }
    .headline-tranform br {
      display: block; 
    }
}
  
@media screen and (max-width: 768px) {
    .headline-tranform {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 10px
    }
    .headline-tranform br {
      display: none; 
    }
    
  .consult-transform{
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
    .headline-tranform {
      font-size: 26px;
      line-height: 32px;
      margin: 0 auto 8px;
      max-width: 90%;
    } 
     .consult-transform{
      margin-top: 20px;
    }
    .transform-subtitle{
      font-size: 12px;
      line-height: 20px;
    }
    .promotion-banner.transform-section-service{
      margin-top: 40px;
    
    }
    .careers-cp .promotion-banner.transform-section-service {
      margin-top: 30px;
      margin-bottom: 30px;
    }
}
  
  @media screen and (max-width: 576px) {
    .headline-tranform {
      font-size: 26px;
      line-height: 32px;
      margin: 0 auto 8px;
      max-width: 90%;
    }
    
    .promotion-banner {
      padding: 40px 10px;
    }
    
    .consult-transform{
      margin-top: 20px;
      gap: 20px;
    }
    .consult-transform .btn{
            font-size: 14px;
            line-height: 25px;
    }
    .consult-transform .btn.btn-outline.service{
      font-size: 14px;
       line-height: 25px;
    }
    .promotion-banner {
      background-image: url(../../images/consult-mobile.png);
    }
}
  
@media screen and (max-width: 425px) {
  .consult-transform{
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 8px;
  }
  .btn.btn-outline.consult-transform {
    margin: 5px 0 0 0;
    
  }
  .consult-transform .btn{
    font-size: 13px;
    line-height: 25px;
  }
}

@media screen and (max-width: 375px) {
  .consult-transform .btn {
    font-size: 11px;
    line-height: 20px;
  }
}